.myModal-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.678);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .modal-container {
  }
}
