@import "../../utils/colors.scss";

.suggested-user-card {
  padding: 0.4rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;

  &:hover {
    background-color: $highlight-gray;
  }

  .left-sec {
    display: flex;
    align-items: center;
    column-gap: 0.6rem;

    .info {
      :nth-child(2) {
        font-size: 14px;
        color: $primary-gray;
      }
    }
  }
}
