@import "../../utils/colors.scss";

.feed-post {
  padding: 1rem 2rem;
  margin-bottom: 0.8rem;
  .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 14px;
    .left-sec {
      display: flex;
      column-gap: 8px;
      align-items: center;
      .user-name {
        font-weight: bold;
        color: $primary-text;
      }
    }
  }
  .post-body {
    img {
      width: 100%;
      border-radius: 6px;
    }
  }
 
}

@media (width<=500px) {
  .feed-post {
    padding: 1rem 0.6rem;
  }
}
