@import "../../utils/colors.scss";

.comment-card {
  display: flex;
  column-gap: 0.6rem;
  padding: 0.5rem 0;

  .content {
    font-size: 14px;
    .comment {
      color: $secondary-gray;
    }
    .date {
      color: $primary-gray;
      font-size: 12px;
    }
  }
}
